- include: baseline.yml
  tags:
    - baseline

- include: passwd-init.yml
  tags:
    - baseline

- include: unattended-upgrades.yml
  tags:
    - baseline
    - unattendedupgrades
    - uu
  when: uu_activate
