*         hard    nofile      {{ baseline_file_limit }}
*         soft    nofile      {{ baseline_file_limit }}
root      hard    nofile      {{ baseline_file_limit }}
root      soft    nofile      {{ baseline_file_limit }}

